@using BlazorComponentUtilities
@using System.Linq.Expressions;


<div class="@ClassDiv">
    <AppInputText id="@Id"
                  class="@ClassInput"
                  placeholder="@Placeholder"
                  Value="@Value"
                  ValueChanged="@ValueChanged"
                  ValueExpression="@ValueExpression"
                  @onblur="@OnBlur" />
</div>


@code {
    private string Id { get; } = Guid.NewGuid().ToString("N");

    private string ClassInput => new CssBuilder()
                                        .AddClass("bg-[#fff]")
                                        .AddClass("w-full h-full")
                                        .AddClass("rounded-[10px]")
                                        .AddClass("shadow-custom")
                                        .AddClass("z-20")
                                        .Build();
    
    private string ClassDiv => new CssBuilder()
                                        .AddClass(Class)
                                        .Build();

    [Parameter] public string? Placeholder { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter][EditorRequired] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    [Parameter] public Expression<Func<string?>> ValueExpression { get; set; } = default!;
    [Parameter] public EventCallback<FocusEventArgs> OnBlur { get; set; }

}
