@using BlazorComponentUtilities
@inject NavigationManager NavigationManager

<div class="@_classCard">
    <div class="w-full flex justify-between pl-4 pr-5">
        <div class="flex gap-2 pt-4">
            @foreach (var tipo in Tipo)
            {
                <div class="w-[50px] h-[21px] bg-[#BFC66B] rounded-[50px] @_classPokemonType">
                    @tipo.Tipo
                </div>
            }
       </div>
        <div class="text-white font-[700] font-['Kumbh Sans'] font-[700] not-italic text-[15px] leading-normal pt-[15px] flex items-center ">
            @($"#{Id:D3}")
       </div>
   </div>
   <div class="flex h-full pr-1">
        <div class="pl-4">
            <h3 class="@_className">@Nome</h3>
            <p class="@_classDescription mt-1">
                @_description
            </p>
            <button class="@_classBtn mt-3" style="cursor:pointer" @onclick="() => Info()">
                Know more
            </button>
        </div>

        <img src="@Imagem" alt="Alternate Text" class="max-w-[120px] max-h-[120px] ml-2" />
   </div>
</div>

@code {

    [Parameter] public int Id { get; set; }
    [Parameter] public string Nome { get; set; } = string.Empty;
    [Parameter] public String Imagem { get; set; } = string.Empty;
    [Parameter] public String Descricao { get; set; } = string.Empty;
    [Parameter] public List<Habilidades> Tipo { get; set; } = [];
  

    private string _description => Descricao.Length > 75 ? Descricao.Substring(0, 75) + "..." : Descricao;

    private string _classCard => new CssBuilder()
                                    .AddClass("lg:w-[344px] md:w-full")
                                    .AddClass("h-[196px]")
                                    .AddClass("shadow-card-info")
                                    .AddClass("rounded-[20px]")
                                    .AddClass("bg-[#77B35B]")
                                    .Build();

    private string _classPokemonType => new CssBuilder()
                                    .AddClass("text-white")
                                    .AddClass("font-['Inter']")
                                    .AddClass("text-[9px]")
                                    .AddClass("not-italic")
                                    .AddClass("font-[500]")
                                    .AddClass("leading-normal")
                                    .AddClass("flex items-center justify-center")
                                    .Build();

    private string _className => new CssBuilder()
                            .AddClass("text-white")
                            .AddClass("font-['Kumbh Sans']")
                            .AddClass("text-[27px]")
                            .AddClass("not-italic")
                            .AddClass("font-[700]")
                            .AddClass("leading-normal")
                            .Build();


    private string _classDescription => new CssBuilder()
                    .AddClass("text-white")
                    .AddClass("font-['Kumbh Sans']")
                    .AddClass("text-[13px]")
                    .AddClass("not-italic")
                    .AddClass("font-[400]")
                    .AddClass("leading-normal")
                    .Build();

    private string _classBtn => new CssBuilder()
                    .AddClass("w-[87px] h-[28px]")
                    .AddClass("rounded-[50px]")
                    .AddClass("bg-[#BFC66B]")
                    .AddClass("text-white")
                    .AddClass("text-[9px]")
                    .AddClass("font-[500]")
                    .AddClass("not-italic")
                    .AddClass("leading-normal")
                    .Build();


    private void Info()
    {
        NavigationManager.NavigateTo("/info");
    }
    
}