@page "/info/{Id:int}"

@inject PokemonAPI pokemonService

@using BlazorComponentUtilities
@using Pokedex.APIs.PokemonInfo

<div class="flex !justify-center mx-auto max-w-[100%] md:max-w-[1100px]">

    <div class="w-5/6 min-h-[678px] rounded-[20px] bg-[#77B35B] flex items-center gap-2 px-[20px] py-[29px] flex-wrap md:flex-nowrap
 justify-center md:justify-normal">

        <img class="w-[450px] h-[483px]"
             src="@_pokemonDetalhes.Imagem" alt="pokemon" />

        <div>
            <p class="text-[#fff] text-[15px] font-bold"> @($"#{_pokemonDetalhes.Id:D3}")</p>
            <h3 class="text-[#fff] text-[40px] font-bold">@_pokemonDetalhes.Nome?.ToUpper()</h3>
            <div class="flex gap-2">
                @foreach (var tipo in _pokemonDetalhes.Tipos)
                {
                    <BtnType Class="mt-3">
                        @tipo.Tipo
                    </BtnType>
                }
            </div>
            <p class="text-[#fff] text-[13px] font-normal mt-[19px]">
                @_pokemonDetalhes.Descricao
            </p>

            <div class="flex gap-2 flex-wrap mt-8">
                <StatsBox>
                    <span>
                        <strong>Heigth</strong>
                    </span>
                    <span>@($"{_pokemonDetalhes.Altura}m")</span>
                </StatsBox>
                <StatsBox>
                    <span>
                        <strong>Weight</strong>
                    </span>
                    <span>@($"{_pokemonDetalhes.Peso}m")</span>
                </StatsBox>
            </div>

            <h4 class="text-white font-bold text-[22px] mt-8">Stats</h4>
            <div class="flex gap-2 flex-wrap">
                <StatsBox Class="mt-3 justify-between" Stats="StatsType.HP">
                    <span>
                        <strong>HP</strong>
                    </span>
                    <span>@_pokemonDetalhes.Estatisticas.HP</span>
                </StatsBox>
                <StatsBox Class="mt-3 justify-between" Stats="StatsType.ATK">
                    <span>
                        <strong>ATK</strong>
                    </span>
                    <span>@_pokemonDetalhes.Estatisticas.Ataque</span>
                </StatsBox>
                <StatsBox Class="mt-3 justify-between" Stats="StatsType.DEF">
                    <span>
                        <strong>DEF</strong>
                    </span>
                    <span>@_pokemonDetalhes.Estatisticas.Defesa</span>
                </StatsBox>
                <StatsBox Class="mt-3 justify-between" Stats="StatsType.SPA">
                    <span>
                        <strong>SpA</strong>
                    </span>
                    <span>@_pokemonDetalhes.Estatisticas.AtaqueEspecial</span>
                </StatsBox>
                <StatsBox Class="mt-3 justify-between" Stats="StatsType.SpD">
                    <span>
                        <strong>SpD</strong>
                    </span>
                    <span>@_pokemonDetalhes.Estatisticas.DefesaEspecial</span>
                </StatsBox>
                <StatsBox Class="mt-3 justify-between" Stats="StatsType.SPD">
                    <span>
                        <strong>SPD</strong>
                    </span>
                    <span>@_pokemonDetalhes.Estatisticas.Velocidade</span>
                </StatsBox>
            </div>

            <h4 class="text-white font-bold text-[22px] mt-8">Abilities</h4>
            <div class="flex gap-2 flex-wrap mt-5">
                @foreach (var habilidade in _pokemonDetalhes.Habilidades)
                {
                    <StatsBox Class="justify-center">
                        <strong>@habilidade.Habilidade</strong>
                    </StatsBox>
                }
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public int Id { get; set; }

    private bool _loading = false;
    private PokemonDetalhes _pokemonDetalhes = new PokemonDetalhes();

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        await this.ObterPokemonPorId();
        _loading = false;
    }

    public async Task ObterPokemonPorId()
    {
        _pokemonDetalhes = await pokemonService.GetPokemonDetalhes(null, Id);
    }
}
